<a href="https://colab.research.google.com/github/YELISETTYMANIKANTA/23CSBTB29/blob/main/part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_excel("/AIML excel.xlsx")
print (data)

     Sid    s.Name      course  Age  contact No  Batch No semester
0   2001       Ram          Os   18   987654321        29     2--1
1   2002      Ravi          Ds   19   637378988        29     2--1
2   2003      Raju        java   18   123567890        30     2--1
3   2004   krishna          Ls   18   733663533        29     2--1
4   2005       sai      python   18   737373873        29     2--1
5   2006    satwik          Ds   18   673737378        29     2--1
6   2007     shiva         Mem   19   736376373        29     2--1
7   2008      kaja         chy   18   733773778        29     2--1
8   2009      teja        HTML   19   366376373        29     2--1
9   2010      abhi           C   18   737887337        29     2--1
10  2011     mohan         C++   19   763637777        29     2--1
11  2012    kartik  java sript   18   475667677        29     2--1
12  2013     pavan     hacking   18   563663637        29     2--1
13  2014   hemanth         ECE   18   577676767        29     2--1
14  2015      mani       Cloud   18   657676767        29     2--1
15  2016  srikanth        AIML   19   667767686        29     2--1
16  2017     anand         NCC   18   656575767        29     2--1
17  2018    lalith    hackthon   19   565765656        29     2--1
18  2019    ganesh          Gs   18   565776767        29     2--1
19  2020    lokesh         SPD   19   567676767        29     2--1

In [2]:
import pandas as pd
data=pd.read_csv("/AIML csv.csv")
print(data)

     Sid    s.Name      course  Age  contact No  Batch No semester
0   2001       Ram          Os   18   987654321        29     2--1
1   2002      Ravi          Ds   19   637378988        29     2--1
2   2003      Raju        java   18   123567890        30     2--1
3   2004   krishna          Ls   18   733663533        29     2--1
4   2005       sai      python   18   737373873        29     2--1
5   2006    satwik          Ds   18   673737378        29     2--1
6   2007     shiva         Mem   19   736376373        29     2--1
7   2008      kaja         chy   18   733773778        29     2--1
8   2009      teja        HTML   19   366376373        29     2--1
9   2010      abhi           C   18   737887337        29     2--1
10  2011     mohan         C++   19   763637777        29     2--1
11  2012    kartik  java sript   18   475667677        29     2--1
12  2013     pavan     hacking   18   563663637        29     2--1
13  2014   hemanth         ECE   18   577676767        29     2--1
14  2015      mani       Cloud   18   657676767        29     2--1
15  2016  srikanth        AIML   19   667767686        29     2--1
16  2017     anand         NCC   18   656575767        29     2--1
17  2018    lalith    hackthon   19   565765656        29     2--1
18  2019    ganesh          Gs   18   565776767        29     2--1
19  2020    lokesh         SPD   19   567676767        29     2--1

In [4]:
import pandas as pd
data=pd.read_csv("/heart1.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [5]:
import pandas as pd
data=pd.read_table("/content/part3.txt")
print(data)

                                  Sid     s.Name     course   Age  \
2001 Ram                           Os         18  987654321    29
2002 Ravi                          Ds         19  637378988    29
2003 Raju                        java         18  123567890    30
2004 krishna                       Ls         18  733663533    29
2005 sai                       python         18  737373873    29
2006 satwik                        Ds         18  673737378    29
2007 shiva                        Mem         19  736376373    29
2008 kaja                         chy         18  733773778    29
2009 teja                        HTML         19  366376373    29
2010 abhi                           C         18  737887337    29
2011 mohan                        C++         19  763637777    29
2012 kartik javasript 18    475667677         29       2--1   NaN
2013 pavan                    hacking         18  563663637    29
2014 hemanth                      ECE         18  577676767    29
2015 mani                       Cloud         18  657676767    29
2016 Srikanth AIML                 19  667767686         29  2--1
2017 anand                        NCC         18  656575767    29
2018 lalith               hackthon 19  565765656         29  2--1
2019 ganesh                        Gs         18  565776767    29
2020 lokesh                       SPD         19  567676767    29

                         contact No Batch No semester
2001 Ram                                         2--1
2002 Ravi                                        2--1
2003 Raju                                        2--1
2004 krishna                                     2--1
2005 sai                                         2--1
2006 satwik                                      2--1
2007 shiva                                       2--1
2008 kaja                                        2--1
2009 teja                                        2--1
2010 abhi                                        2--1
2011 mohan                                       2--1
2012 kartik javasript 18                          NaN
2013 pavan                                       2--1
2014 hemanth                                     2--1
2015 mani                                        2--1
2016 Srikanth AIML                                NaN
2017 anand                                       2--1
2018 lalith                                       NaN
2019 ganesh                                      2--1
2020 lokesh                                      2--1

In [6]:
import pandas as pd
data=pd.read_csv("/content/games1.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]